.classicgrid{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(2, 50%);
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
}
.classicgrid img{
  width: 50%;
}
.info{
  border: 2px black solid;
  grid-column: 1 / span 3;
  grid-row: 1;
}
.class{
  border: 2px black solid;
  grid-column: 4 / span 2;
  grid-row: 1;
}
.placeholder{
  border: 2px black solid;
  grid-column: 1 / span 2;
  grid-row: 2;
}
.raids{
  border: 2px black solid;
  grid-column: 3 / span 3;
  grid-row: 2;
}
