.classgrid{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: white 2px solid;
}
.classgrid img{
  width: 100%;
}
.classinfo{
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
}
.classpic{
  grid-column: 4 / span 3;
  grid-row: 2 / span 3;
}
.raceinfo{
  grid-column: 7 / span 3;
  grid-row: 2 / span 3;
}
.racegrid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column: 1 / span 9;
}
.alliance{
  background-color: blue;
}
.horde{
  background-color: red;
}
.blur{
  filter: blur(5px);
}
#note{
  font-style: italic;
  text-align: center;
}
