.loregrid{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 16%);
  grid-template-rows: 40%, 20%, 40%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
}
.loregrid img{
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}
.malfurion{
  border: 2px lightgray solid;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.arthas{
  border: 2px lightgray solid;
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}
.jaina{
  border: 2px lightgray solid;
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
}
.secondwar{
  border: 2px lightgray solid;
  grid-column: 1 / span 3;
  grid-row: 3;
}
.sundering{
  border: 2px lightgray solid;
  grid-column: 4 / span 3;
  grid-row: 3;
}
a{
  text-decoration: none;
}
.imgzoom{
  position: relative;
   margin: auto;
   overflow: hidden;
}
.imgzoom img{
max-width: 100%;
transition: all 0.3s;
display: block;
width: 100%;
height: auto;
transform: scale(1);
}
.imgzoom img:hover{
  transform: scale(1.2);
}
h3{
  text-align: center;
  color: lightgray;
  text-decoration: underline;
}
h4{
  text-align: center;
  color: lightgray;
}
.charactergrid{
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 26.5%);
  margin: auto;
  grid-gap: 10px;
}
.info{
grid-column: 1 / span 3;
grid-row: 1 / span 2;
}
.photo{
  grid-row: span 2;
}
.photo img{
  width: 100%;
}
.photo2{
  grid-row: 3 / span 2;
  grid-column: 1 / span 2;
}
.photo2 img{
  width: 100%;
}
.moreinfo{
  grid-row: 3 / span 2;
  grid-column: 3 / span 2;
}
.eventgrid{
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  margin: auto;
  grid-gap: 10px;
}
.eventinfo{
grid-column: 2 / span 3;
grid-row: 1 / span 2;
}
.eventphoto{
  grid-row: span 2;
}
.eventphoto img{
  width: 100%;
}
.eventphoto2{
  grid-row: 3 / span 2;
  grid-column: 4;
}
.eventphoto2 img{
  width: 100%;
}
.eventmoreinfo{
  grid-row: 3 / span 2;
  grid-column: 1 / span 3;
}
#lorelogo{
  display: block;
margin: auto;
width: 50%;
}
@media (max-width: 1200px){
  img{
    display:none;
  }
  .navbar img{
    display: block;
  }
  .charactergrid{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 26.5%);
    margin: auto;
    grid-gap: 10px;
  }
  .info{
  grid-column: 1 / span 4;
  grid-row: 1;
  }
  .moreinfo{
    grid-row: 4;
    grid-column: 1 / span 4;
  }
}
