.raidgrid{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 27%);
  padding: 10px;
  grid-gap: 5px;
}
.raidflex{
  display: flex;
  border: lightgray solid 2px;
}
.raidgrid img{
  width: 40%;
}
h3{
  color: white;
  text-align: center;
  text-decoration: underline;
}
@media (max-width: 1057px){
  .raidgrid img{
    display: none;
  }
  .raidgrid{
    grid-template-rows: repeat(4, 32%);
  }

}
