body{
  margin: 0;
  background-color: black;
}
main{
  margin: auto;
  width: 1000px;
}
footer{
  background-image: url('../Bilder/navbackground.jpg');
  height: 20px;
  color: lightgray;
}
p{
  color: white;
  text-align: justify;
  padding: 5px;
}
h2{
  color: white;
  text-align: center;
}
