*{
    margin: 0;
    padding: 0;
}
html, body{
height: 100%;
}
body{
  background-color: black;
}
main{
  margin: auto;
  width: 85%;
  padding-bottom: 100px;
  min-height: 100%;
}
footer{
  background-image: url('../Bilder/navbackground.jpg');
  color: lightgray;
  position: relative;
  clear: both;
}
p{
  color: white;
  text-align: justify;
  padding: 5px;
}
h1{
  color: white;
  text-align: center;
}
h2{
  color: white;
  text-align: center;
}
